**/package.json/**
**/.wrangler/**
**/tamagui.css
**/workbox*.js
**/sw*.js
**/service-worker.js
**/fallback*.js
**/node_modules/**
**/dist/**
**/ios/**
**/.git/**
**/.android/**
**/.DS_Store/**
**/Thumbs.db/**
**/.tamagui*
**/.next*
**/CODEOWNERS
**/assets/**
