strict-peer-dependencies=false
no-frozen-lockfile=true
no-optional=false
skip-optional=false
auto-install-peers=true
provenance=true
hoist-workspace-packages=true
registry=https://registry.npmjs.org/
