strict-peer-dependencies=false
no-frozen-lockfile=true
no-optional=false
skip-optional=true
auto-install-peers=true
provenance=true
symbolic-links=true
# hoist-workspace-packages=true
# git-checks=true

# ignore-workspace-root-check=true

registry=https://registry.npmjs.org/
