<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni044E.loclBGR</key>
    <string>uni044E_.loclB_G_R_.glif</string>
    <key>uni04E0</key>
    <string>uni04E_0.glif</string>
  </dict>
</plist>
