<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.alt01</key>
    <string>a.alt01.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aogonek.alt01</key>
    <string>aogonek.alt01.glif</string>
    <key>arrowdownleftcorner</key>
    <string>arrowdownleftcorner.glif</string>
    <key>arrowdownrightcorner</key>
    <string>arrowdownrightcorner.glif</string>
    <key>arrowupleftcorner</key>
    <string>arrowupleftcorner.glif</string>
    <key>arrowuprightcorner</key>
    <string>arrowuprightcorner.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>baht</key>
    <string>baht.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>coloncurrency</key>
    <string>coloncurrency.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>g.alt01</key>
    <string>g.alt01.glif</string>
    <key>g.alt02</key>
    <string>g.alt02.glif</string>
    <key>germandbls.alt01</key>
    <string>germandbls.alt01.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.tosf</key>
    <string>nine.tosf.glif</string>
    <key>nineinferior</key>
    <string>nineinferior.glif</string>
    <key>ninesuperior</key>
    <string>ninesuperior.glif</string>
    <key>numerosign</key>
    <string>numerosign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>rupeeindian</key>
    <string>rupeeindian.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>six.tosf</key>
    <string>six.tosf.glif</string>
    <key>sixinferior</key>
    <string>sixinferior.glif</string>
    <key>sixsuperior</key>
    <string>sixsuperior.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni049B</key>
    <string>uni049B_.glif</string>
    <key>uni04BD</key>
    <string>uni04B_D_.glif</string>
    <key>uni04E0</key>
    <string>uni04E_0.glif</string>
    <key>uni04E1</key>
    <string>uni04E_1.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>zero.alt01</key>
    <string>zero.alt01.glif</string>
    <key>zero.alt02</key>
    <string>zero.alt02.glif</string>
    <key>zero.tosf.alt02</key>
    <string>zero.tosf.alt02.glif</string>
    <key>zeroinferior</key>
    <string>zeroinferior.glif</string>
    <key>zerosuperior</key>
    <string>zerosuperior.glif</string>
  </dict>
</plist>
